<!DOCTYPE html>
<% include header.html %>
<title>Infomatter | 首页</title>
<body>
    <div id="wrapper" class="yue">
        <header id="header">
            <a href="/" id="site_name">Infomatter</a>
            <nav>
                <a href="/user/subscriptions">订阅</a>
                <a href="/user/signout">注销</a>
            </nav>
        </header>
        <div id="content">
            <ol id="posts">
                <% entries.forEach(item => { %>
                    <li>
                        <span class="date"><%= item.source_name %> <%= item.time.substring(0,10) %></span> <a href="<%= item.link %>" target="_blank"><%= item.title %></a>
                    </li>
                <% }) %>
            </ol>
        </div>
        <% include footer.html %>
    </div>
</body>
</html>