<div id="nav" class="pure-u">
    <a href="#" class="nav-menu-button">菜单</a>
    <div class="nav-inner">
        <div class="pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">未读 <span class="rss-count">(2)</span></a></li>
                <li class="pure-menu-item"><a href="/user/stars" class="pure-menu-link">收藏</a></li>
                <li class="pure-menu-item"><a href="/user/subscriptions" class="pure-menu-link">订阅</a></li>
                <li class="pure-menu-item"><a href="/user/settings" class="pure-menu-link">设置</a></li>
                <li class="pure-menu-item"><a href="/user/signout" class="pure-menu-link">注销</a></li>
                <li class="pure-menu-heading">分类</li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="rss-label"></span>科技</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="rss-label"></span>生活</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="rss-label"></span>娱乐</a></li>
            </ul>
        </div>
    </div>
</div>