<!DOCTYPE html>
<% include header.html %>
<body>
    <div id="wrapper" class="yue">
        <header id="header">
            <a href="/" id="site_name">Infomatter | <%= page_title %></a>
            <nav>
                <a href="/user/signin">登录</a>
            </nav>
        </header>
        <div id="content">
            <div class="post">
                <article>
                    <form action="/user/signup" method="POST" id="signup">
                        <div class="input">
                            <input id="name" name="name" type="text" placeholder="用户名" style="width:50%;">
                        </div>
                        <div class="input">
                            <input id="password_1" name="password_1" type="password" placeholder="密码" style="width:50%;">
                        </div>
                        <div class="input">
                            <input id="password_2" name="password_2" type="password" placeholder="确认密码" style="width:50%;">
                            </div>
                        <div id="submit">
                            <button type="submit">注册</button>
                        </div>
                    </form>
                </article>
            </div>
        </div>
        <% include footer.html %>
    </div>
</body>