<!DOCTYPE html>
<% include header.html %>
<title>Infomatter | 订阅</title>
<body>
    <div id="wrapper" class="yue">
        <header id="header">
            <a href="/" id="site_name">Infomatter </a>| <%= page_title %>
            <nav>
                <a href="/user/signout">注销</a>
            </nav>
        </header>
        <div id="content">
            <ol id="posts">
                <% all_sources.forEach(item => { %>
                    <li>
                        <% if(item.following) { %><span><a href="/user/unfollow/<%= item.id %>">-</a></span><% } else { %><span><a href="/user/follow/<%= item.id %>">+</a></span><% } %> <a href="/source/<%= item.id %>/timeline" target="_self"><%= item.name %></a>
                    </li>
                <% }) %>
            </ol>
        </div>
        <% include footer.html %>
    </div>
</body>